body { 
    background-color: bisque; 
    color:brown; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 

.name { 
    color:black; 
    font-size:  40px; 

} 

#Email { 
    color:darkblue; 
    font-size: 20px; 
    
} 

 
 